@import "./../../common/mini-reset.css";
@import "./../../common/base.css";

body, h1 {
	margin: 50px;
}

h2 {
	border: 1px solid currentColor;
	inline-size: 300px;
	block-size: 100px;
	text-align: center;
	align-content: center; /* y축 */
}

.flex-basic {
	background: yellow;
	inline-size: 1000px;
	block-size: 600px;
	margin-block: 20px;
	/* 테두리 테스트용 box-shadow */
	box-shadow: 1px 1px 0 0 currentColor, -1px -1px 0 0 currentColor;
	display: flex;
	flex-flow: row nowrap; /* flex-direction과 flex-wrap를 한 번에 설정하는 단축 속성. */
	justify-content: center;
	align-items: start;
	align-content: start;
	/* gap: 20px; */
}

.flex-item {
	background-color: pink;
	/* inline-size: 500px; */
	block-size: 200px;
	flex-basis: 0;
}

.flex-item:nth-child(odd) {
	order: 1;
}

/* 플렉스 아이템 / 기본값
	flex-grow: 0; / 확대
	flex-shrink: 1; / 축소
	flex-basis: 0;  / 기본 크기
	위 3가지 속성을 한 번에 설정하는 단축 속성
	flex : 0 1 0; 
*/

.flex-item1 {
	flex-shrink: 1;
	flex-grow: 1;
	background-color: lightgreen;
}
.flex-item2 {
	flex-shrink: 1;
	flex-grow: 1;
	background-color: aqua;
}
.flex-item3 {
	flex-shrink: 1;
	flex-grow: 1;
	background-color: sandybrown;
}
.flex-item4 {
	flex-shrink: 1;
	flex-grow: 1;
}
